<div id ="cell">
    <strong> <%= calendar.name %> </strong>



      <p>Ingredients: <%= calendar.ingredients %> </h1> <br>
      <em>Benefit: <%= calendar.benefit %> </em><br>

<%= link_to "Add to Juice!", edit_calendar_path(calendar) %><br>
<%= link_to "No Juice!", calendar_path(calendar), method: :delete  %>

</div>